<div class="bg-light p-5 text-center">
    <h2>Created by JWY</h2>
    <p>📞 010-1111-1111</p>
    <button class="btn btn-primary">고객센터</button>
    <button class="btn btn-success">오시는길</button>
</div>